@import "./header";
@import "./functions";
@import "./front";
@import "./icons";
@import "./about";
@import "./projects";
@import "./contact";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Staatliches&display=swap');

body{
    margin: 0px;
    padding: 0px;
    color: $upground;
    font-family: 'Staatliches', cursive;
}